option_settings:
  aws:elasticbeanstalk:application:environment:
    option_name: RDS_DB_NAME
    value: funProject
    option_name: RDS_PORT
    value: 3306
    option_name: RDS_USERNAME
    value: root
    option_name: RDS_PASSWORD
    value: 1d6ac2f01q
    option_name: RDS_HOSTNAME
    value: mysql.cnn3hxxbkiiq.us-east-2.rds.amazonaws.com
